@import "tailwindcss";

@theme{
    --color-sidebar: #2b2b2b;
    --color-sidebarselect: #3b3b3b;
    --color-dashboard: #1c1c1c;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}